README.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/.idea

cuit_xcpc.mv.db
cuit_xcpc.trace.db
db-secret.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


### VUE ###
.DS_Store
node_modules
/dist


# local env files
/vue/.env.local
/vue/.env.*.local

# Log files
/vue/npm-debug.log*
/vue/yarn-debug.log*
/vue/yarn-error.log*
/vue/pnpm-debug.log*

# Editor directories and files
/vue/.idea
/vue/.vscode
/vue/*.suo
/vue/*.ntvs*
/vue/*.njsproj
/vue/*.sln
/vue/*.sw?

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/pdf/
/vue/package-lock.json
/src/main/resources/static/**
/settings.properties

xcpcio/.cache
xcpcio/.DS_Store
xcpcio/.eslintcache

xcpcio/node_modules/
xcpcio/dist/
xcpcio/coverage/
xcpcio/lib-cov/
xcpcio/logs/
xcpcio/temp/

xcpcio/*.less.d.ts

xcpcio/*.log
xcpcio/*.tgz

xcpcio/.env.local

xcpcio/.next
xcpcio/out
xcpcio/.claude